__pycache__/
*.pyc
*.pyo
*.pyd
*.db

.env
.env.*

.git
.gitignore

.vscode/
.idea/
*.swp

docker-compose.dev.yml
*.log
*.pid
*.sock

*.egg-info/
.eggs/
dist/
build/
*.tar.gz
*.whl
pip-wheel-metadata/
*.sqlite3
.mypy_cache/
.pytest_cache/
coverage.*
htmlcov/

bandit-report.json
safety-report.json
*.coverage
coverage.xml

.DS_Store
Thumbs.db
